body{display:flex;
background-color: #EEF0F4;
font-family: niconne ;
font-size: 24px;
font-style: normal;
}

.niconne-regular {
  font-family: "Niconne", cursive;
}


.container{display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 0 auto;
max-width: 320px;
margin-top:30px;
}

button{width: 100px;
border-radius: 5px;
margin-top: 10px;
padding:5px;
background-color: #ffebf4;
border: 0.5px solid #ffb3d9;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
font-family: niconne;
font-size: 20px;
font-style: normal;
}
button:hover{background-color: pink;
color: white;
cursor: pointer;
}

input{width:320px;
height: 30px;
border-radius: 5px;
margin-top: 10px;
border: none;
background-color: #DCE1EB;
text-align: center;
font-family: niconne;
font-size: 20px;
font-style: normal;
}


ul {
display:flex;
list-style-type: none;
flex-wrap: wrap;
gap:15px;
padding: 0;
}

ul li {
background-color: #ffd1e6;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
padding: 10px;
border-radius: 5px;
flex-grow: 1;
text-align: center;
color: purple
   
}

li:hover {
background-color: pink;
color:white;
border: 1px solid #FFB3D9;
cursor: pointer;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}
